<!DOCTYPE html>
<html>
<head>
    <title>Plaid Link</title>
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
</head>
<body>
    <div id="plaid-status">Initializing Plaid...</div>
    <script type="text/javascript">
        console.log('Plaid script loaded with token: {{ link_token[:10] }}...');
        const handler = Plaid.create({
            token: '{{ link_token }}',
            onSuccess: function(public_token, metadata) {
                document.getElementById('plaid-status').innerHTML = 'Success! Public Token: ' + public_token;
                console.log('Success:', public_token, metadata);
                // Redirect back to Streamlit with public_token as a query param
                window.location.href = '{{ redirect_url }}?public_token=' + public_token;
            },
            onLoad: function() {
                document.getElementById('plaid-status').innerHTML = 'Plaid Loaded - Opening...';
                console.log('Plaid loaded');
                handler.open();
            },
            onExit: function(err, metadata) {
                if (err != null) {
                    document.getElementById('plaid-status').innerHTML = 'Error: ' + (err.display_message || JSON.stringify(err));
                    console.error('Plaid error:', err);
                } else {
                    document.getElementById('plaid-status').innerHTML = 'Exited';
                }
            },
            onEvent: function(eventName, metadata) {
                console.log('Event:', eventName, metadata);
            }
        });
    </script>
</body>
</html>